@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .Collapsible .Collapsible__contentInner {
        @apply xl:p-[0.5em] grid grid-cols-1 md:grid-cols-[repeat(auto-fit,_minmax(400px,_1fr))] gap-[1em];
    }
    .Collapsible .Collapsible__trigger {
        @apply text-white block border-solid mx-3 font-bold border rounded-md my-2 p-[10px] relative;

        &:after {
            content: "\02C5";
            @apply absolute right-2 top-3;
            font-size: 1.7em;
        }

        &.is-open {
            &:after {
                content: "\02C4";
            }
        }
    }
}
